<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Old is Gold{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-4">
            <div class="flex justify-between items-center">
                <a href="{% url 'home' %}" class="text-2xl font-bold text-blue-500" style="    background-color: rgb(239 233 19);
    color: #78610e;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px; ">Old is Gold</a>
                <div>
                    <a href="{% url 'video_list' %}" class="mr-4 hover:text-blue-500">Videos</a>
                    <a href="{% url 'playlist_list' %}" class="mr-4 h hover:text-blue-500">Playlists</a>
                    
                    <a href="{% url 'home' %}" class="mr-4 h hover:text-blue-500">Home</a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-white mt-8 py-4">
        <div class="container mx-auto px-4 text-center text-gray-600">
            &copy; 2024 Old is Gold. All rights reserved.
        </div>
    </footer>
</body>
</html>